// // variable definitions
// $primary: #002f62;
// $secondary: #270815;
// ;
// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
// );


$color-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
$color-text: #ffffff;
// // $border-radius: $border-radius-base;
$sidebar-width-open: 300px;
$sidebar-width-collapsed: 60px;
$color-scrollbar: #9b9b9b7f;
// // end variable definitions


.fas.fa-filter {
  // Overwrite hardcoded color
  color: $primary;
}

body {
  font-size: $font-size-base;
}

/* navigation */

.dv_button_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  /* or content-start */
}

.dv_button_level {
  background-color: $primary;
  box-shadow: $color-shadow;
  margin-bottom: 1rem;
}

.dv_manager_top_bar {
  display: grid;
  grid-template-columns: auto 170px;
}

.dv_button_level {
  display: inline-flex;
  flex-wrap: wrap;
}

.dv_button_level.dv_root_button_level {
  display: block;
}

.dv_button_level.dv_child_button_level {
  display: none;
}

.dv_button_level.dv_child_button_level.active {
  display: inline-flex;
  width: auto;
}

.dv_tab_activate_button {
  padding: 14px 20px;
  color: $color-text;
  background-color: $primary;
  color: $color-text;
}

.dv_child_button_level .dv_tab_activate_button {
  padding: 5px 20px;
  color: $color-text;
  background-color: $primary;
  color: $color-text;
}

.dv_tab_activate_button.clicked {
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom: $color-text;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-radius: 0;
}

.dv_top_button_group {
  background-color: $primary;
  margin-bottom: 1rem;

  .navbar-btn.navbar-btn {
    background: none;
    border: none;
    outline: none;
    color: $color-text;
  }
}

/* end navigation */

.dv_main.container-fluid {
  height: 100vh;
  width: auto;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: min-content 1fr auto;
  grid-column-gap: 1.6rem;
  overflow: hidden;
}

/* sidebar */
.dv-sidebar-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: $sidebar-width-open;
  transition: width 0.3s ease-in-out 0.1s;

  .sidebar {
    width: $sidebar-width-open;
    height: 100vh;
    background-color: $primary;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: opacity 0.1s ease-in-out, width 0.3s ease-in-out 0.1s,
      left 0.3s ease-in-out 0.1s;
    box-shadow: $color-shadow;
  }
}

.grid-resize {
  width: $sidebar-width-collapsed;
}

body>.container-fluid>.dv_main_panel {
  grid-column: 2 / -1;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
  overflow: hidden;
}

.min-height-50-vh {
  min-height: 50vh;
}



.dv_tab_container {
  overflow: auto;
  padding-bottom: 2rem;
  padding-right: 1.6rem;
  height: 100%;
  position: relative;
}

.dv_tab_content {
  display: none;
  height: 100%;
}

.dv_tab_content.active {
  display: block
}



.tab-content {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  overflow-y: auto;
  overflow-x: auto;
  padding-bottom: 2rem;
  max-width: 96vw;
  margin-top: 0;
  padding-top: 2rem;
  padding-right: 1.6rem;
}

#__tabset_0__ {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.grid_page_date {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  background-color: $primary;
  color: $color-text;
  padding-left: 0.8rem;
  border-top-left-radius: $border-radius;
  display: flex;
  align-items: center;
  font-size: 1rem;
  span {
    margin-left: 1.2rem;
  }
}

input[type="checkbox"]#click {
  display: none;
}

@keyframes logo {
  from {
    opacity: 0;
    transform: translateY(45px) translateX($sidebar-width-open - $sidebar-width-collapsed);
  }

  to {
    transform: translateY(45px) translateX($sidebar-width-open - $sidebar-width-collapsed);
    opacity: 1;
  }
}

.checkbox {
  &:not(:checked)~.sidebar {
    left: $sidebar-width-collapsed - $sidebar-width-open;

    .menu-contents,
    .logo-text {
      opacity: 0;
    }

    .logo {
      animation: logo 1.5s ease-in-out 0s 1 normal forwards;
    }
  }

  &:checked~.sidebar {
    left: 0;

    .line-1 {
      transform: rotate(-45deg) translate(-5px, 9px);
      width: 1.8rem;
    }

    .line-2 {
      opacity: 0;
    }

    .line-3 {
      transform: rotate(45deg) translate(-5px, -9px);
      width: 1.8rem;
    }
  }
}

.menu-contents {
  transition: opacity 0.2s ease-out;
  align-self: stretch;
  margin-top: 50px;
  margin-bottom: 30px;
  flex-grow: 1;
  opacity: 1;
}

div.dv_subgroup_menu dv-filter-top-control-container>*:not(:first-child) {
  display: none;
}

dv-filter-wrapper {
  display: block;


  [data-filter-mode="blockly"] {
    .blockly_filter.outer {
      display: grid;
      grid-template-rows: 1fr auto;
      /* First row takes remaining space, second row based on content */
      height: 100%;
    }

    .blockly_filter.inner {
      height: 100%;
    }

    .blockly_overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
      /* Hidden by default */
      justify-content: center;
      align-items: center;
      z-index: 999;
    }

    /* Modal content style */
    .blockly_modal {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      width: 80vw;
      height: 80vh;
      text-align: center;
      display: grid;
      grid-template-rows: auto 1fr auto;
      /* First row takes remaining space, second row based on content */
    }

    /* Close button style */
    .blockly_close_button {
      display: inline-block;
      margin-top: 10px;
      padding: 5px 10px;
      background-color: #ccc;
      text-decoration: none;
      border-radius: 3px;
    }

    .blockly_close_button:hover {
      background-color: #aaa;
    }

    /* Show the modal when the checkbox is checked */
    input[type="checkbox"]:checked+.blockly_overlay {
      display: flex;
    }

  }

  dv-filter-dependencies {
    display: block;
  }

  dv-filter-root {
    display: block;

    .dv-hide {
      display: none;
    }

    .dv-disabled-controls {
      pointer-events: none;
      opacity: 0.6;
      filter: grayscale(100%);
    }

    dv-show-button-container {
      display: flex;
      justify-content: space-around;
    }

    dv-filter-top-control-container {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      gap: .25rem;

      >* {
        flex-grow: 1;
      }

      dv-filter-saved-states-list {
        display: flex;
        flex-wrap: wrap;
        gap: .25rem;
      }

    }

    dv-incompatible-warning {
      display: block;
    }

    dv-filter-dataset-filter {
      display: block;
      @extend .card;      
      @extend .mb-2;

      .dv-title-tag {
        @extend .card-title;
        @extend .mb-0;
        display: flex;
        justify-content: flex-start;
        column-gap: 5px;
      }

      &[data-subject-filter="true"] {
        @extend .border-primary;
        .dv-dataset-filter-header {
          @extend .card-header;
          display: flex;
          justify-content: flex-start;
          justify-content: space-between;
          align-items: center;
          column-gap: 5px;

          @extend .bg-primary;
          @extend .card-header;
          @extend .text-white;

          .dv-dataset-filter-collapse-link {
            @extend .text-white;
            @extend .text-decoration-none;
          }

          .add-button {
            @extend .btn;
            @extend .btn-sm;
            @extend .btn-outline-light;
          }

          .dv-filter-row-count-badge {
            @extend .badge;
            @extend .bg-light;
          }

        }
      }

      &[data-subject-filter="false"] {
        @extend .border-secondary;
        .dv-dataset-filter-header {
            @extend .card-header;
            display: flex;
            justify-content: flex-start;
            justify-content: space-between;
            align-items: center;
            column-gap: 5px;
        
            @extend .card-header;
            @extend .text-black;
        
            .dv-dataset-filter-collapse-link {
              @extend .text-black;
              @extend .text-decoration-none;
            }
        
            .add-button {
              @extend .btn;
              @extend .btn-sm;
              @extend .btn-outline-secondary;
            }
        
            .dv-filter-row-count-badge {
              @extend .badge;
              @extend .bg-secondary;
            }
        
          }
      }

      div.dropdown.bootstrap-select.show-tick.dv-hide {
        visibility: hidden;
        display: block;
        height: 0;
      }

      dv-filter-variable-filter-container {
        display: block;
        margin-bottom: 10px;

        dv-filter-variable-filter {
          display: block;
          margin-bottom: 20px;
          background: #f7f7f7;
          border: 1px solid #ddd;
          border-radius: 4px;
          margin-bottom: 6px;
          padding-bottom: 8px;
          padding-left: 4px;
          padding-right: 4px;

          .variable-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2px 2px;
            margin-bottom: 2px;
            flex-wrap: wrap;
            row-gap: 2px;
          }

          .na_warning {
            background-color: #fcf8e3;
            /* Bootstrap warning bg */
            color: #8a6d3b;
            /* Bootstrap warning text */
            border: 1px solid #faebcc;
            /* warning border */
            border-radius: 4px;
            /* rounded corners */
          }

          .variable-header .label {
            font-size: 12px;
            padding: 4px 6px;
            background-color: #5bc0de;
            /* info-like color */
            border-radius: 10px;
            word-wrap: break-word;
            white-space: normal;
          }

          .na-control {
            display: inline-flex;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 4px;
            overflow: hidden;
            font-size: 12px;
          }

          .na-control .na-label {
            padding: 2px 6px;
            background-color: #fafafa;
          }

          .na-control .na-checkbox {
            background-color: #fff;
            padding: 2px 6px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .variable-header .close-btn {
            border: none;
            background: none;
            color: #d9534f;
            font-size: 14px;
            margin-left: 6px;
          }

          .variable-header .close-btn:hover {
            color: #c9302c;
          }
        }
      }
    }

    //   .dropdown-menu{      
    //     &.show {
    //     min-width: min-content;
    //     position: fixed;
    //     left: $sidebar-width-open;
    //     top: 25vh;
    //     max-height: 70vh !important;
    //     min-height: 0px !important;
    //     height: 70vh !important;
    //     overflow-y: hidden;

    //     .inner.open {
    //       max-height: 70vh !important;
    //       min-height: 0px !important;
    //       height: calc(100% - 75px); // Hardcoded heigth of top search buttons
    //       overflow-y: auto;
    //     }
    //   }
    // }
  }
}

#shiny_filter_panel {
  height: 94vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $body-bg;

  .filter_header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .c-well {
    min-height: 20px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: $body-bg;
  }

  //TODO: START: TO BE REMOVED ONCE THE ORIGINAL SIMPLE DV.FILTER IS REMOVED
  .dropdown-menu {

    &.open,
    &.show {
      min-width: min-content;
      position: fixed;
      left: $sidebar-width-open;
      top: 25vh;
      max-height: 70vh !important;
      min-height: 0px !important;
      height: 70vh !important;
      overflow-y: hidden;

      .inner.open {
        max-height: 70vh !important;
        min-height: 0px !important;
        height: calc(100% - 75px); // Hardcoded heigth of top search buttons
        overflow-y: auto;
      }
    }
  }

  //END: TO BE REMOVED ONCE THE ORIGINAL SIMPLE DV.FILTER IS REMOVED


  // .c-well {
  //   min-height: 20px;
  //   padding: 15px;
  //   margin-bottom: 15px;
  //   background-color: $body-bg;
  // }

  #dataset_selector {
    flex: 0 0 auto;
    max-height: 200px;
  }
}

@media (max-height: 920px) {
  div.dropdown-menu.open {
    height: 80vh;
    overflow-y: auto;
  }
}

.sidebar {
  .logo {
    transition: all 0.2s ease-out 0.1s;
    width: 40px;
    margin: 5px 5px 5px 10px;
    position: absolute;
    left: 0;
    background-color: #ffffff;
    padding: 3px;
    border-radius: 50%;
  }

  .logo-text {
    transition: opacity 0.2s ease-out 0.1s;
    position: absolute;
    font-size: 1.5rem;
    color: $color-text;
    margin-top: 1rem;
    letter-spacing: 0.5rem;
  }

  .menu-icon {
    margin: 1rem;
    cursor: pointer;
    position: absolute;
    right: 0;

    .line {
      height: 0.2rem;
      width: 2.5rem;
      background-color: #ffffff;
      margin: 0.4rem;
      transition: all 0.5s;
    }

    .line-1 {
      width: 1.2rem;
    }

    .line-2 {
      width: 1.8rem;
    }

    &:hover .line {
      width: 2.5rem;
    }
  }
}

/* end sidebar */

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $color-scrollbar;
  // border-radius: $border-radius-base;
  border: transparent;
}