$color-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
$color-text: #ffffff;
$sidebar-width-open: 300px;
$sidebar-width-collapsed: 60px;
$color-scrollbar: #9b9b9b7f;

.fas.fa-filter {
  // Overwrite hardcoded color
  color: $primary;
}

body {
  font-size: $font-size-base;
}

#__manager_overlay__ {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  /* Hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* navigation */

.dv_button_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  /* or content-start */
}

.dv_button_level {
  background-color: $primary;
  box-shadow: $color-shadow;
  margin-bottom: 1rem;
}

.dv_manager_top_bar {
  display: grid;
  grid-template-columns: auto max-content;
}

.dv_button_level {
  display: inline-flex;
  flex-wrap: wrap;
}

.dv_button_level.dv_root_button_level {
  display: block;
}

.dv_button_level.dv_child_button_level {
  display: none;
}

.dv_button_level.dv_child_button_level.active {
  display: inline-flex;
  width: auto;
}

.dv_tab_activate_button {
  padding: 14px 20px;
  color: $color-text;
  background-color: $primary;
  color: $color-text;
}

.dv_child_button_level .dv_tab_activate_button {
  padding: 5px 20px;
  color: $color-text;
  background-color: $primary;
  color: $color-text;
}

.dv_tab_activate_button.clicked {
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom: $color-text;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-radius: 0;
}

.dv_top_button_group {
  background-color: $primary;
  margin-bottom: 1rem;

  .navbar-btn.navbar-btn {
    background: none;
    border: none;
    outline: none;
    color: $color-text;
  }
}

/* end navigation */

.dv_main.container-fluid {
  height: 100vh;
  width: auto;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: min-content 1fr auto;
  grid-column-gap: 1.6rem;
  overflow: hidden;
}

.dv_main_panel>.bs-container .dropdown-menu {
  min-width: 100% !important;
  max-width: 50vw !important; // Linked to the max-width below
  word-break: break-word;

  li a span.text {
    white-space: wrap;
    width: max-content !important;
    max-width: calc(100% - 1rem) !important;

    small {
      white-space: nowrap;
    }
  }
}



/* sidebar */
.dv-sidebar-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: $sidebar-width-open;
  transition: width 0.3s ease-in-out 0.1s;

  .checkbox {
    &:not(:checked)~.sidebar {
      left: $sidebar-width-collapsed - $sidebar-width-open;

      .menu-fade,
      .icon-text {
        opacity: 0;
      }

      .icon-close {
        display: none;
      }

      .icon-control {
        height: 100%;
      }
    }

    &:checked~.sidebar {
      left: 0;


      .icon-open {
        display: none;
      }
    }
  }



  .sidebar {
    width: $sidebar-width-open;
    height: 100vh;
    background-color: $primary;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: opacity 0.1s ease-in-out, width 0.3s ease-in-out 0.1s,
      left 0.3s ease-in-out 0.1s;
    box-shadow: $color-shadow;

    .icon-container {
      display: flex;
      flex-direction: row;
      color: $color-text;
      align-items: center;
      justify-content: space-around;
      position: relative;
      width: 100%;
      height: 53px;
      flex-shrink: 0;

      .icon-text {
        @extend .text-secondary;
        transition: opacity 0.2s ease-out 0.1s;
        font-size: 1.5em;
        letter-spacing: .5em;
      }

      .icon-control {
        // @extend .text-secondary;
        height: auto;
        transition: opacity 0.2s ease-out 0.1s;
        font-size: 1.2em;
        color: $color-text;
        // position: absolute;
        // right: 0.5em;
        cursor: pointer;
      }
    }

    .menu-fade {
      transition: opacity 0.2s ease-out;
    }

    .menu-contents {
      @extend .menu-fade;
      align-self: stretch;
      margin-bottom: 30px;
      flex-grow: 1;
      opacity: 1;
    }
  }
}

.grid-resize {
  width: $sidebar-width-collapsed;
}

body>.container-fluid>.dv_main_panel {
  grid-column: 2 / -1;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
  overflow: hidden;
}

.min-height-50-vh {
  min-height: 50vh;
}



.dv_tab_container {
  overflow: auto;
  padding-bottom: 2rem;
  padding-right: 1.6rem;
  height: 100%;
  position: relative;
}

.dv_tab_content {
  display: none;
  height: 100%;
}

.dv_tab_content.active {
  display: block
}

#__tabset_0__ {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.grid_page_date {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  background-color: $primary;
  color: $color-text;
  padding-left: 0.8rem;
  border-top-left-radius: $border-radius;
  display: flex;
  align-items: center;
  font-size: 1rem;

  span {
    margin-left: 1.2rem;
  }
}

input[type="checkbox"]#click {
  display: none;
}



div.dv_subgroup_menu dv-filter-top-control-container>*:not(:first-child) {
  display: none;
}

dv-filter-wrapper {
  display: block;


  [data-filter-mode="Advanced"] {
    .blockly_filter.outer {
      display: grid;
      grid-template-rows: 1fr auto;
      /* First row takes remaining space, second row based on content */
      height: 100%;
    }

    .blockly_filter.inner {
      height: 100%;
    }

    .blockly_overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
      /* Hidden by default */
      justify-content: center;
      align-items: center;
      z-index: 999;
    }

    /* Modal content style */
    .blockly_modal {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      width: 80vw;
      height: 80vh;
      text-align: center;
      display: grid;
      grid-template-rows: auto 1fr auto;
      /* First row takes remaining space, second row based on content */
    }

    /* Show the modal when the checkbox is checked */
    input[type="checkbox"]:checked+.blockly_overlay {
      display: flex;
    }

  }

  dv-filter-dependencies {
    display: block;
  }

  dv-filter-root {
    display: block;

    .dv-hide {
      display: none;
    }

    .dv-disabled-controls {
      pointer-events: none;
      opacity: 0.6;
      filter: grayscale(100%);
    }

    dv-show-button-container {
      display: flex;
      justify-content: space-around;
    }

    dv-filter-top-control-container {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      gap: .25rem;

      >* {
        flex-grow: 1;
      }

      dv-filter-saved-states-list {
        display: flex;
        flex-wrap: wrap;
        gap: .25rem;
      }

    }

    dv-incompatible-warning {
      display: block;
    }

    dv-filter-dataset-filter {
      display: block;
      @extend .card;
      @extend .mb-2;

      .dv-title-tag {
        @extend .card-title;
        @extend .mb-0;
      }

      .dv-dataset-filter-header {
        @extend .card-header;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        column-gap: 5px;

        .dv-dataset-filter-header-left {
          display: flex;
          justify-content: flex-start;
          align-items: baseline;
          column-gap: 1em;
          flex: 1;

          .dv-dataset-filter-collapse-link {
            word-break: break-word;
            justify-self: flex-start;
            flex: 1;
          }

          .dv-filter-counts {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            justify-self: flex-end;
            gap: .25rem;
            flex: 0 1 auto;
          }
        }

        .dv-dataset-filter-header-right {
          @extend .ps-1;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          column-gap: 1em;
          flex: none;
        }


      }

      &[data-subject-filter="true"] {
        @extend .border-primary;

        .dv-dataset-filter-header {
          @extend .bg-primary;
          @extend .card-header;
          @extend .text-white;
        }

        .add-button {
          @extend .btn;
          @extend .btn-sm;
          @extend .btn-outline-light;
        }

        .dv-filter-row-count-badge {
          @extend .badge;
          @extend .bg-light;
        }

        .dv-dataset-filter-collapse-link {
          @extend .text-white;
          @extend .text-decoration-none;
        }
      }

      &[data-subject-filter="false"] {
        @extend .border-primary;

        .dv-dataset-filter-header {
          @extend .card-header;
          @extend .text-black;

          .dv-dataset-filter-collapse-link {
            @extend .text-black;
            @extend .text-decoration-none;
          }

          .add-button {
            @extend .btn;
            @extend .btn-sm;
            @extend .btn-outline-primary;
          }

          .dv-filter-row-count-badge {
            @extend .badge;
            @extend .bg-secondary;
          }

        }
      }

      div.dropdown.bootstrap-select.show-tick.dv-hide {
        visibility: hidden;
        display: block;
        height: 0;
      }

      dv-filter-variable-filter-container {
        display: block;
        margin-bottom: 10px;

        dv-filter-variable-filter {

          @extend .bg-light;

          display: block;
          margin-bottom: 20px;
          border: 1px solid #ddd;
          border-radius: 4px;
          margin-bottom: 6px;
          padding-bottom: 8px;
          padding-left: 4px;
          padding-right: 4px;

          .variable-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2px 2px;
            margin-bottom: 2px;
            flex-wrap: wrap;
            row-gap: 2px;
          }

          .na_warning {
            background-color: #fcf8e3;
            /* Bootstrap warning bg */
            color: #8a6d3b;
            /* Bootstrap warning text */
            border: 1px solid #faebcc;
            /* warning border */
            border-radius: 4px;
            /* rounded corners */
          }

          .na-control {
            display: inline-flex;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 4px;
            overflow: hidden;
            font-size: 12px;
          }

          .na-control .na-label {
            padding: 2px 6px;
            background-color: #fafafa;
          }

          .na-control .na-checkbox {
            background-color: #fff;
            padding: 2px 6px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .variable-header .close-btn {
            border: none;
            background: none;
            color: #d9534f;
            font-size: 14px;
            margin-left: 6px;
          }

          .variable-header .close-btn:hover {
            color: #c9302c;
          }
        }
      }
    }
  }
}

#shiny_filter_panel {
  height: 94vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $body-bg;

  .filter_header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .c-well {
    min-height: 20px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: $body-bg;
  }

  #dataset_selector {
    flex: 0 0 auto;
    max-height: 200px;
  }
}

@media (max-height: 920px) {
  div.dropdown-menu.open {
    height: 80vh;
    overflow-y: auto;
  }
}

/* end sidebar */

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $color-scrollbar;
  // border-radius: $border-radius-base;
  border: transparent;
}